.backgroudColor{
    /* background-color: rgb(10, 104, 104); */
    /* background-color: #355746; */
     background-color: #24768F;
    color: white;
    line-height: 3vh;
      
    position: sticky;
    /* background:#6cf; */
   
}


.icon{
    margin-top:15px;
    margin-left: 5px;
    padding: 5px;
}

.contact-icon{
    margin-right: 5px;
}
