.booking-form{
    /* background-color: aquamarine;
    border-radius: 20px; */
   width: 45%;
   
}

.booking-form input{
    width: 70%;
    margin: 8px;
    padding: 5px;
}
.booking-form-btn{
    background-color: hotpink;
    color: white;
    border: none;
}
.booking-form-btn:hover{
    color: rgb(240, 241, 245);
    background-color: darkcyan;
    
}




/* @media only screen and (max-width:600px)  {
    .service-container{
        grid-template-columns: repeat(1,1fr);
    }
 
    
}

@media only screen and (min-width:689px) and (max-width:991px) {
   
    .service-container{
        grid-template-columns: repeat(2,1fr);
    }
} */