.booking-form{
    /* background-color: aquamarine;
    border-radius: 20px; */
   width: 45%;
   
}

.booking-form input{
    width: 70%;
    margin: 8px;
    padding: 5px;
}
.booking-form-btn{
    background-color: hotpink;
    color: white;
    border: none;
}
.booking-form-btn:hover{
    color: rgb(240, 241, 245);
    background-color: darkcyan;
    
}




/* .service-detials-container{
    display: grid;
    grid-template-columns:2fr ;
    grid-column-gap:10px;
    grid-row-gap: 10px;
    padding: 10px;
    margin: 10px;
}

@media only screen and (max-width:600px)  {
    .service-detials-container{
        grid-template-columns: repeat(1,1fr);

    }
    .service-detials-container-card{
        width: 100vw;
        height: 100vh;
        grid-template-columns: 1fr;
    }
    .service-detials-container-form{
        grid-template-columns: 1fr;
        width: 100vw;
        height: 100vh;
    }
 
    
}

@media only screen and (min-width:689px) and (max-width:991px) {
   
    .service-detials-container{
        grid-template-columns: repeat(2,1fr);
    }

    .service-detials-container-card{
        width: 100vw;
        height: 100vh;
        grid-template-columns: 2fr;

    }

    .service-detials-container-form{
        width: 100vw;
        height: 100vh;
        grid-template-columns: 2fr;
    }
} */