.benefits-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    color: #0e172c;
   
}
.benefits-button{
    border: none;
    background-color: rgb(27, 40, 221);
    color: white;
    padding: 5px;
    border-radius: 10px;
}
.benefits-bg-color{
    /* background-color: #D3D3D3; */
    background-color:#d9d4e7;
    
}

/* .service-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap:10px;
    grid-row-gap: 10px;
    padding: 10px;
    margin: 10px;
} */

@media only screen and (max-width:600px)  {
    .benefits-container{
        grid-template-columns: repeat(1,1fr);
    }
 
    
}

@media only screen and (min-width:689px) and (max-width:991px) {
   
    .benefits-container{
        grid-template-columns: repeat(2,1fr);
    }
}

